<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Generator | Links</title>
	<script src="https://cdn.bootcss.com/clipboard.js/2.0.6/clipboard.min.js"></script>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <link href="./app.svg" rel="icon" type="image/x-ico">
</head>

<body class="d-flex flex-column">
	<header>
		<nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
			<div class="container">
				<div class="navbar-brand shadow-sm">
					<!-- <span>Generator</span> -->
					<span>Generator<sup class="text-warning"><b>+</b></sup></span>
				</div>
				<div class="collapse navbar-collapse">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link active" href="#">Links</a>
						<a class="nav-item nav-link disabled" href="./command.html">Commands</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" id="app">
		<div class="container">
			<div class="row">
				<div class="col col-xl-4 col-lg-4 col-md-5" style="margin-top: 2em;height: fit-content;">
					<div class="card shadow">
						<div class="card-body">
							<h5 class="card-title">Survey Info:
								<span class="badge float-right badge-secondary" data-toggle="tooltip" data-placement="bottom"
									data-html="true" title="修复了survey path在Other useful links中的问题，更新了survey path的设定,更新了脚本加载顺序"
									v-if="sn.length!==6">new</span></h5>
							<hr />
							<div class="form-group">
								<label>SN:</label>
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" v-model="sn" :class="{'is-valid':snComputed}"
										placeholder="Please type in your SN number:">
								</div>
							</div>

							<div class="form-group" v-if="snComputed">
								<label>Survey Path:</label>
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">apac</span>
										<span class="input-group-text" v-if="snComputed">C{{sn}}</span>
									</div>
									<input type="text" class="form-control" v-model="sp" placeholder="temp…"
										:class="{'is-valid':spComputed}">
								</div>
								<div class="custom-control custom-switch d-inline float-right">
									<input type="checkbox" class="custom-control-input" id="customSwitch1">
								</div>
							</div>

							<div class="form-group" v-if="snComputed">
								<label>Primary Code:</label>
								<div class="input-group input-group-sm" style="font-family: Consolas;">
									<select class="form-control form-control-sm" v-model="cc">
										<option selected value="0" disabled>Country code</option>
										<option v-for="(i,index) in countryCode" :value="i.code">
											{{i.code}}({{i.country}})</option>
									</select>
									<select class="form-control form-control-sm" v-model="lc">
										<option selected value="0" disabled>Language code</option>
										<option v-for="(i,index) in lang" :value="i.code">{{i.code}}({{i.language}})
										</option>
									</select>
								</div>
							</div>

							<button class="btn btn-light badge badge-light" type="button" data-toggle="collapse"
								data-target=".multi-collapse" aria-expanded="false" aria-controls="spm_info spm_link"
								v-if="snComputed">Super PM</button>

							<div id="spm_info" class="collapse multi-collapse">
								<hr />
								<div class="form-group">
									<label>Project Token:</label>
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" v-model="pt">
									</div>
								</div>

								<div class="form-group">
									<label>Survey ID:</label>
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" v-model="si">
									</div>
								</div>
							</div>
							<div v-if="sn.length<6">
								<hr />
								<h5 class="card-title">Guide:</h5>
								<p class="card-text">
									<small class="text-muted">
										<ul>
											<li>Please type in your SN number frist to unlock this <b>panel</b>.</li>
											<li>For SPM link, please also click the <b>Super PM</b> button.</li>
											<li>Except the Test link,we also need choose a <b>country code</b> and a <b>language code</b>.
											</li>
										</ul>
									</small>
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col col-12 float-right" style="margin-top: 2em;" v-if="snComputed"
					:class="{'col-xl-8 col-lg-8 col-md-7':snComputed}">
					<div class="card shadow">
						<div class="card-header">
							<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active text-secondary" id="home-tab" data-toggle="tab" href="#home" role="tab"
										aria-controls="home" aria-selected="true">Survey
										Links:</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-secondary" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
										aria-controls="profile" aria-selected="false">Other
										useful links:</a>
								</li>
							</ul>
						</div>
						<div class="card-body">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									<div class="form-group" v-if="testLink!='#'">
										<span>Test link:</span>
										<div class="input-group input-group-sm">
											<input id="testLink" type="text" class="form-control" :value="testLink" readonly>
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" :href="testLink" target="_blank">Go</a>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#testLink"
													type="button" title="Copy!"><i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
									<div class="form-group" v-if="liveLink!='#'">
										<span>Live cint link:</span>
										<div class="input-group input-group-sm">
											<input id="liveLink" type="text" class="form-control" readonly :value="liveLink">
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" :href="liveLink" target="_blank">Go</a>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#liveLink"
													type="button" title="Copy!"><i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
									<div class="form-group" v-if="wechatLink!='#'">
										<span>WeChat link:</span>
										<div class="input-group input-group-sm">
											<input id="wechatLink" type="text" class="form-control" readonly :value="wechatLink">
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" :href="wechatLink" target="_blank">Go</a>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#wechatLink"
													type="button" title="Copy!"><i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
									<div id="spm_link" class="collapse multi-collapse">
										<div class="form-group" v-if="spmmbLink!='#'">
											<span>SuperPM MB link:</span>
											<div class="input-group input-group-sm">
												<input id="spmmblink" type="text" class="form-control" readonly :value="spmmbLink">
												<div class="input-group-append">
													<a :href="spmmbLink" class="btn btn-outline-secondary" target="_blank">Go</a>
													<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#spmmblink"
														type="button" title="Copy!"><i class="fa fa-copy"></i></button>
												</div>
											</div>
										</div>
										<div class="form-group" v-if="spmmbLink!='#'">
											<span>SuperPM TNS link:</span>
											<div class="input-group input-group-sm">
												<input id="spmtnslink" type="text" class="form-control" readonly :value="spmtnsLink">
												<div class="input-group-append">
													<a class="btn btn-outline-secondary" :href="spmtnsLink" target="_blank">Go</a>
													<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#spmtnslink"
														type="button" title="Copy!"><i class="fa fa-copy"></i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<div class="form-group">
										<span>Survey summary:</span>
										<div class="input-group input-group-sm">
											<input id="surveySummary" type="text" class="form-control" :value="surveySummary" readonly>
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" target="_blank" :href="surveySummary">Go</a>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#surveySummary"
													type="button" title="Copy!">
													<i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<span>Report 2010:</span>
										<div class="input-group input-group-sm">
											<input id="report2010" type="text" class="form-control" readonly :value="report2010">
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" target="_blank" :href="report2010">Go</a></button>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#report2010"
													type="button" title="Copy!"><i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<span>Edit data:</span>
										<div class="input-group input-group-sm">
											<input id="editData" type="text" class="form-control" readonly :value="editData">
											<div class="input-group-append">
												<a class="btn btn-outline-secondary" target="_blank" :href="editData">Go</a>
												<button class="btn btn-outline-secondary clipboard" data-clipboard-target="#editData"
													title="Copy!"><i class="fa fa-copy"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer mt-auto py-3">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<p class="text-muted">Website by <b>@Internal Innovation Team</b></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- <script src="./js/jquery-1.11.0.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./js/index.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script type='text/javascript'>
		$(document).ready(
			function () {
				var clipboard = new ClipboardJS('.clipboard');
			}
		);
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
		$(function () {
			$('[data-toggle="popover"]').popover()
		});
	</script>
	<script type="text/javascript" src="./js/bootstrap3-typeahead.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>